@model HomeVM

<div class="container mt-4">
    <h1 class="text-center my-5">Shop your favourite sport gears now!</h1>

    <div class="mb-5">
        <form id="filter" asp-area="Customer" asp-controller="Home" asp-action="Index" class="d-flex justify-content-between">
            <div class="d-inline-flex align-items-center">
                <span class="form-label me-2">Category</span>
                <select id="CategoryFilter" asp-for="@Model.categoryFilter" asp-items="@Model.categoryList" class="form-select">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="d-inline-flex">
                <input asp-for="@Model.nameFilter" placeholder="Search for products" class="form-control" />
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>

    @if (Model.categoryFilter != null && Model.categoryFilter != "all")
    {
        <h3 id="CategorySelected" class="text-center"></h3>
    }

    <div class="mb-5">
        <div class="row">
            @foreach (var product in Model.productList)
            {
                <div class="col-lg-3 col-md-3 col-sm-4 mb-5">
                    <div class="card shadow-lg border-0 rounded mt-2" style="height: 100%">
                        <div class="ratio ratio-1x1">
                            <img src="@product.ImageUrl" class="card-img-top rounded-top" />
                        </div>
                        <div class="card-body align-content-center text-center">
                            <p class="card-title text-dark"><b>@product.Name</b></p>
                            <p class="text-muted mb-1">
                                <span class="text-decoration-line-through">@product.ListPrice.ToString("c")</span>
                                <span class="text-success fw-bold ms-2">@product.Price.ToString("c")</span>
                            </p>
                        </div>
                        <div class="card-footer bg-white border-0">
                            <a asp-action="Details" asp-route-productId="@product.Id"
                               class="btn btn-outline-primary w-100">View Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="mt-5">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <form asp-area="Customer" asp-controller="Home" asp-action="Index" class="d-flex justify-content-between">
                @* Populate current model properties *@
                <input name="pageNumber" value="@Model.pageNumber" hidden />
                <input name="categoryFilter" value="@Model.categoryFilter" hidden />
                <input name="nameFilter" value="@Model.nameFilter" hidden />

                <button type="submit" name="action" value="previous" class="btn btn-outline-primary w-auto @prevDisabled">Previous Page</button>
                <button type="submit" name="action" value="next" class="btn btn-outline-primary w-auto @nextDisabled">Next Page</button>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#CategoryFilter').change(function () {
                $('#filter').submit();
            })

            var category = $('#CategoryFilter Option:Selected').text();
            $('#CategorySelected').text(category);
        })
    </script>
}